/* CSS para darle estilo a la floreria*/

#info-ramos {
    padding: 20px 20px;
    text-align: left;
    background-color: rgb(230, 139, 35);
}

#registrarse {
    padding: 20px 20px;
    text-align: center;
    background-color: rgb(160, 30, 56);
}

#registrarse h2 {
    font-size: 1.5rem;
}

.registrarse form {
    max-width: 600px;
    margin: 0 auto;
}

.registrarse label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.registrarse #nombre,
.registrarse #contra {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 5px solid #e51f1f;
    border-radius: 20px;
}

.registrarse #registrarse {
    width: 30%;
    border-radius: 20px;
    border: 5px solid #e51f1f;
    background-color: rgb(242, 151, 76);
}