/* CSS para darle estilo a la floreria*/

body {
    background-color: #65d4b6;
}


/* estilo para seccion Informacion sobre los ramos */

#info-ramos {
    color: #1f3644;
    margin: 20px;
    padding: 20px 20px;
    text-align: left;
    background-color: #88ead0;
    border-radius: 10px;
}

#info-ramos h2 {
    text-align: center;
    font-size: 1.5rem;
}


/* estilo para seccion nosotros */

#nosotros h2 {
    text-align: center;
    font-size: 1.5rem;
}

#nosotros {
    color: #1f3644;
    margin: 20px;
    padding: 20px 20px;
    text-align: left;
    background-color: #28b18c;
    border-radius: 10px;
}


/* estilo para seccion registro */

#registrarse {
    color: #1f3644;
    margin: 20px;
    padding: 20px 20px;
    text-align: center;
    background-color: #28b18c;
    border-radius: 10px;
}


/* CSS para el tamaño del titulo */

#registrarse h2 {
    font-size: 1.5rem;
}


/* CSS para el tamaño de los parrafos */

#registrarse p,
#nosotros p,
#info-ramos p {
    font-size: 1rem;
}


/* Para cambiar largo de la barra del formulario */

.registrarse form {
    max-width: 600px;
    margin: 0 auto;
}

.registrarse label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.registrarse #nombre,
.registrarse #contra {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #1f3644;
    border-radius: 10px;
}

.registrarse #registrarse {
    width: 30%;
    border-radius: 10px;
    border: 1px solid #1f3644;
    background-color: rgb(242, 151, 76);
}