header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(36, 143, 84, 0.945);
    padding: 5px 40px;
}

header .logo img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    float: right;
    margin: 0px 10px;
}

nav a {
    text-decoration: none;
    color: aliceblue;
    font-style: italic;
}

nav a:hover {
    text-decoration-line: underline;
}

@font-face {
    font-family: "calibri";
    src: url("../../css/fuentes/calibri_freefontdownload_org/calibri.ttf");
}


.caja_cent {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 50px;

}

#inicio{
    display: grid;
    width: 700px;
    grid-template-rows: 100px 40px 40px 70px;
    background-color: aqua;
    justify-items: center;
    align-items: center;
    border-radius: 40px;
}
#transicionIn{
    width: 710px;
    height: 260px;
}
.agranda{
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 40px;
    transition: background-color 0.5s ease;
}
.agranda:hover{
    background-color: aqua;
}

h1{
    font-family: "calibri";
    text-decoration: none;
    color: #284f52;
    font-size: 45px;
    margin: 0;
}

p{
font-family: "calibri" ;
font-size: 20px;
}

#linkCat{
    font-family: "calibri";
    font-size: 20px;
    text-decoration: none;
    padding: 10px 20px;
    border: 3px solid #ff0000 ;
    border-radius: 20px;
    background-color: blueviolet;
    transition: background-color 0.3s ease;
}

#linkCat:hover{
    text-decoration: underline;
    background-color: #ff0000;
}

#transicionFl{
    width: 1070px;
    height: 290px;
}
#flores{
    display: grid;
    width: 1050px;
    grid-template-rows: 70px 200px;
    background-color: aqua;
    justify-items: center;
    align-items: center;
    border-radius: 40px;
}
#caja_flor{
    display: grid;
    width: 1050px;
    height: 200px;
    grid-template-columns: 350px 350px 350px;
    background-color: aqua;
    justify-items: center;
    align-items: center;
    border-radius: 40px;
}
h2{
    font-family: "calibri";
    text-decoration: none;
    color: #284f52;
    font-size: 28px;
    margin: 0;
}

.caja_op{
    display: grid;
    width: 300px;
    height: 180px;
    grid-template-rows: 50px 50px 50px;
    background-color: rgb(102, 44, 110);
    align-items: center;
    border-radius: 40px;
    transition: background-color 0.3s ease;
}
.caja_op:hover{
    background-color:rgba(102, 44, 110, 0.281) ;
}

.numF{
    font-family: "calibri";
    color: #000000;
    font-size: 25px;
    margin: 0 120px;
}

label{
    font-family: "calibri";
    color: #000000;
    font-size: 20px;
    margin: 0 0 0 40px ;
}
label:hover{
    cursor: pointer;
}

select{
    height: 25px;
    border: 2px solid white; 
    border-radius: 10px;
    margin: 0 20px;
}
select:hover{
    cursor: pointer;
}

#transicionCar{
    width: 820px;
    height: 290px;  
}
#carta{
    display: grid;
    width: 800px;
    grid-template-rows: 70px 200px;
    background-color: aqua;
    justify-items: center;
    align-items: center;
    border-radius: 40px;
}

#cajaCarta{
    display: grid;
    width: 760px;
    height: 200px;
    grid-template-columns: 380px 380px ;
    background-color: rgb(40, 87, 87);
    justify-items: center;
    border-radius: 40px;
}
.opCarta{
    font-family: "calibri";
    margin: 0 200px 0 0;
    font-size: 23px;
    height: 30px;
}
textarea{
    margin: 15px 0;
    height: 120px;
    width: 350px;
    resize: none;
}

.radio{

    margin: 0 250px 0 0;
}

.opLetra{
    margin: 0;
}

#imprenta{
    margin: 0 250px 20px 0;
}
#cletra{
    margin: 0 50px 0px;

}

#colorP{
    margin: 0 30px 0px 0;;
}
#colorL{
    margin: 0 50px 0px 0;
}
